.vs/apokalipcic.github.io/FileContentIndex/de5301ea-8c93-4094-9afc-b1cadc5c256a.vsidx
.vs/apokalipcic.github.io/v17/.wsuo
.vs/apokalipcic.github.io/v17/DocumentLayout.backup.json
.vs/apokalipcic.github.io/v17/DocumentLayout.json
.vs/slnx.sqlite
